* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; /* Ajustez si besoin pour la hauteur */
    background: #1E1E1E;
    color: white;
    position: relative; /* Contexte d'empilement pour la navbar absolue */
    z-index: 10;
}

.logo img {
    width: 50px;
    height: auto;
    vertical-align: middle;
    border-radius: 20px;
}

.logo {
    text-decoration: none;
    color: white;
    font-size: 24px;
}

.navbar {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.main {
    display: flex;
    align-items: center;
    gap: 15px;
}

.panier {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 3px;
}

.panier:hover {
    border-bottom: 2px solid limegreen;
    color: limegreen;
}



.user {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.user:hover {
    border-bottom: 2px solid limegreen;
    color: limegreen;
}
.menu-icon {
    display: none; /* Caché par défaut sur grand écran */
    font-size: 30px;
    color: white;
    cursor: pointer; /* Indique que c'est cliquable */
}

#menu-toggle {
    display: none; /* La checkbox reste toujours invisible */
}

.navbar a:hover {
    border-bottom: 2px solid limegreen;
    color: limegreen;
}

body {
    background: #121212;
    color: limegreen;
}

/* Responsive styles */
@media (max-width: 768px) {
    .navbar {
        text-align: center;
        position: absolute;
        top: 100%;
        right: 0;
        background: #333;
        flex-direction: column;
        width: 200px;
        display: none;
        padding: 20px 0;
        z-index: 10;
        border-top: 1px solid #444;
    }

    #menu-toggle:checked ~ .navbar {
        display: flex;
    }

    .menu-icon {
        display: block;
    }


    .titre {
        font-size: 32px;

    }
}